# Public API URL used by frontend/lib/api.ts
# EXPO_PUBLIC_API_URL=https://sgrs-w6tg.onrender.com
# EXPO_PUBLIC_API_URL=5000
# EXPO_PUBLIC_API_URL=https://sgrs-1.onrender.com
# EXPO_PUBLIC_API_URL=https://main-backend-g0ym.onrender.com
EXPO_PUBLIC_API_URL=https://merged-branch-j3yy.onrender.com